body {
    background-color: #fff;
    font-family: 'ABeeZee', sans-serif; 
}

.navbar-custom {
    border-bottom: 1px solid #eee;
}

.search-box {
    position: relative;
    width: 830px;
    height: 53px;
    margin-right: 32px;
}

.search-box input {
    width: 100%;
    height: 100%;
    padding: 8px 15px 8px 40px;
    background: #f5f5f5;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
}

.container.d-flex.justify-content-between {
    justify-content: flex-start !important;
}

.nav-links {
    gap: 52px !important;
}

.nav-links a {
    text-decoration: none !important; 
    color: #333;
    font-weight: 500;
    font-size: 15px;
}

.nav-icon + .nav-icon {
    margin-left: -28px;
}

.nav-links a.active {
    color: #333;
    border-bottom: 2px solid #333;
    border-bottom: none;
}

.tabs-container {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.tab-item {
    color: #888;
    cursor: pointer;
    font-weight: 500;
}

.tab-item.active {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.subject-card {
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 30px;
    height: 100%;
    transition: 0.3s;
}

.subject-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.session-list {
    list-style: none;
    padding: 0;
}

.session-list li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #333;
}

.session-list img {
    width: 20px;
}

.view-more {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
}


.footer-custom {
    background-color: #000;
    color: #fff;
    padding: 80px 0;
    min-height: 400px;
    display: flex;
    align-items: center;
}

.footer-custom .row {
   display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%; 
}

.footer-custom .col-md-4:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.footer-custom .col-md-4:nth-child(2) .menu-wrapper {
    text-align: left;
    display: inline-block;
}

.footer-custom .col-md-4 {
    flex: 0 0 auto;
    width: 30%; 
}

.footer-custom ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: inherit; 
}

.footer-custom li {
    margin-bottom: 12px; 
    list-style: none;
    opacity: 0.8;
}

.footer-custom h6 {
    margin-bottom: 20px;
    font-weight: bold;
}
.social-icons {
    display: flex;
    gap: 37px;
    
}

